---
import Heading from 'components:Heading/index';
import LazyLoadImage from 'components:LazyLoadImage/index';
import './styles.css';

export interface PartnerCardProps {
  className?: string;
  heading?: string;
  imageUrl?: string;
  imageWidth?: string;
  imageHeight?: string;
}

const {
  className = '',
  imageUrl = '',
  heading = '',
  imageWidth = '',
  imageHeight = ''
} = Astro.props;

const partnerCardImage = {
  imageAlt : heading,
  imageUrl: {
    mobile: imageUrl
  },
  imageWidth: {
    mobile: imageWidth
  },
  imageHeight: {
    mobile: imageHeight
  }
}
---

<div class={`d-flex partner-card ${className}`}>
  <div class="d-flex partner-card-info">
    <LazyLoadImage
      imageAlt={partnerCardImage.imageAlt}
      imageUrl={partnerCardImage.imageUrl}
      imageWidth={partnerCardImage.imageWidth}
      imageHeight={partnerCardImage.imageHeight}
    />
  </div>
  <div class="partner-card-content">
    <Heading size="sm" className="partner-card-heading">{heading}</Heading>
    <slot />
  </div>
</div>
