---
import TwitterIcon from 'components:SocialIcon/Twitter';
import FacebookIcon from 'components:SocialIcon/Facebook';
import InstagramIcon from 'components:SocialIcon/Instagram';
import LazyLoadImage from 'components:LazyLoadImage/index';
import { POST_SOURES, POST_CARD_DESCRIPTION_MAX_WORDS } from 'constants:index';
import './styles.css';

interface PostCard {
  user: {
    name?: string;
    username?: string;
    profileUrl?: string;
    avatarUrl?: string;
  };
  description?: string;
  thumbnailUrl?: string;
  source?: string;
  url?: string;
}

export interface PostCardProps {
  data: PostCard;
  className?: string;
}

const { data, className = '' } = Astro.props as PostCardProps;

const postCardAvatar = {
  imageAlt : data.user.name || data.user.username,
  imageUrl: {
    mobile: data.user.avatarUrl
  },
  imageWidth: {
    mobile: '100%'
  }
}

const postCardThumbnail = {
  imageAlt : data.description,
  imageUrl: {
    mobile: data.thumbnailUrl
  },
  imageWidth: {
    mobile: '100%'
  }
}

const descriptionWordsLength = data.description.split(' ').length;
let description = data.description;

if (descriptionWordsLength > POST_CARD_DESCRIPTION_MAX_WORDS) {
  description =
    data.description
      .split(/\s+/)
      .slice(0, POST_CARD_DESCRIPTION_MAX_WORDS)
      .join(' ') + ' ...';
}
---

<article class={`post-card ${className}`}>
  <div class="d-flex post-card-header">
    <a href={data.user.profileUrl} class="d-flex post-card-user">
      <LazyLoadImage
        className="post-card-avatar"
        imageAlt={postCardAvatar.imageAlt}
        imageUrl={postCardAvatar.imageUrl}
        imageWidth={postCardAvatar.imageWidth}
      />
      <div class="d-flex-column">
        <span class="text-bold post-card-user-fullname">{data.user.name}</span>
        {
          data.source === POST_SOURES.TWITTER && (
            <span class="post-card-username">{`@${data.user.username}`}</span>
          )
        }
      </div>
    </a>
    {data.source === POST_SOURES.TWITTER && <TwitterIcon href={data.url} />}
    {data.source === POST_SOURES.FACEBOOK && <FacebookIcon href={data.url} />}
    {data.source === POST_SOURES.INSTAGRAM && <InstagramIcon href={data.url} />}
  </div>
  <div class="post-card-body">
    {data.description && <p class="post-card-description">{description}</p>}
    <a href={data.url} class="d-flex post-card-thumbnail">
      <LazyLoadImage
        imageAlt={postCardThumbnail.imageAlt}
        imageUrl={postCardThumbnail.imageUrl}
        imageWidth={postCardThumbnail.imageWidth}
      />
    </a>
  </div>
</article>
