---
import LazyLoadImage from 'components:LazyLoadImage/index';

export interface SocialiconProps {
  className?: string;
  imageUrl?: string;
  imageAlt?: string;
  href?: string;
}

const { className = '', imageUrl = '', imageAlt = '', href = '' } = Astro.props;

const socialIcon = {
  imageAlt : imageAlt,
  imageUrl : {
    mobile: imageUrl
  },
  imageWidth: {
    mobile: '100%'
  }
}
---

<a class={`d-flex social-icon ${className}`} href={href}>
  <LazyLoadImage
    imageAlt = {socialIcon.imageAlt}
    imageUrl = {socialIcon.imageUrl}
    imageWidth = {socialIcon.imageWidth}
  />
</a>
