---
import LazyLoadImage from 'components:LazyLoadImage/index';
import './styles.css';

export interface DownloadButtonListProps {
  className?: string;
}

const { className = '' } = Astro.props;

const dowloadButtons = {
  appStory: {
    imageUrl: {
      mobile: '/assets/images/icons/app-store.svg',
      tablet: '/assets/images/icons/app-store.svg'
    },
    imageWidth: {
      mobile: '164',
      tablet: '192'
    }
  },
  googlePlay: {
    imageUrl: {
      mobile: '/assets/images/icons/google-play.svg',
      tablet: '/assets/images/icons/google-play.svg'
    },
    imageWidth: {
      mobile: '164',
      tablet: '192'
    }
  }
}
---

<div class={`download-button-list ${className}`}>
  <a href="#" class="download-button-item">
    <LazyLoadImage
      imageAlt="DogeCard Apple Store"
      imageUrl={dowloadButtons.appStory.imageUrl}
      imageWidth={dowloadButtons.appStory.imageWidth}
    />
  </a>
  <a href="#" class="download-button-item">
    <LazyLoadImage
      imageAlt="DogeCard Apple Store"
      imageUrl={dowloadButtons.googlePlay.imageUrl}
      imageWidth={dowloadButtons.googlePlay.imageWidth}
    />
  </a>
</div>
